# my additions
*.*~
*.html
*.pyc
metadata/
main.py

# folders
datasets/subsample
intermediary
datasets/test/


# Distribution / packaging
.Python
.idea/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
